<%= javascript_pack_tag 'post/edit' %>

<%= form_with model: @post do |f| %>
  <div class="row main-top">
    <div class="col-10 mx-auto">
      <div class="row mt-3 my-5">
        <% @post.images.each do |image| %>
          <div class="col-10 col-md-3 mx-auto text-center ml-5 mb-3">
            <%= image_tag image.variant(resize_to_limit: [200, 200]), class: "mr-3" %>
            <%= f.check_box :image_ids, { multiple: true }, image.id, false %>
          </div>
        <% end %>
      </div>
    </div>

    <%= render 'form', f: f %>

    <div class="col-10 mx-auto text-center my-5">
      <%= f.hidden_field :lat %>
      <%= f.hidden_field :long %>
      <%= f.submit "更新する", class: "btn btn-primary post-btn" %>
    </div>
  </div>
<% end %>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAP_API"] %>&callback=initMap"></script>
