<%= javascript_pack_tag 'post/new' %>
<%= render 'shared/error', model: @post %>

<div class="row post-main-top">
  <div class="col-lg-6 mx-auto mb-5 p-3 text-center post-introduction">
    <p>地図から場所を登録することができます</p>
    <p>登録したい場所をクリックするとピンを立てられます</p>
    <p>近くの場所まで検索で移動することができます</p>
  </div>
</div>

<%= form_with model: @post do |f| %>
  <div class="row">

    <%= render 'form', f: f %>

    <div class="col-10 mx-auto text-center my-5">
      <%= f.hidden_field :lat %>
      <%= f.hidden_field :long %>
      <%= f.submit "投稿する", class: "btn btn-primary post-btn" %>
    </div>
  </div>
<% end %>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAP_API"] %>&callback=initMap"></script>
