<div class="row text-center main-top">
  <div class="col-12 col-sm-2 offset-sm-3 mt-2">
    <%= link_to "投稿", search_path(word: @word) %>
  </div>
  <div class="col-12 col-sm-2 mt-2">
    <%= link_to "ユーザー名", search_path(word: @word, range: "User") %>
  </div>
  <div class="col-12 col-sm-2 mt-2">
    <%= link_to "プロフィール", search_path(word: @word, range: "profile") %>
  </div>



  <% if @range == "User" && @users.empty? %>
    <div class="col-12 col-md-10 col-lg-10 mx-auto mt-5 text-center">
      "<%= @word %>" が名前に含まれているユーザーはいません
    </div>
  <% elsif @range == "profile" && @users.empty? %>
    <div class="col-12 col-md-10 col-lg-10 mx-auto mt-5 text-center">
      "<%= @word %>" がプロフィールに含まれているユーザーはいません
    </div>
  <% elsif @range == "User" || @range == "profile" %>
    <div class="col-12">
      <%= render 'public/posts/user_list', users: @users %>
    </div>
  <% elsif @posts.empty? %>
    <div class="col-12 col-md-10 col-lg-10 mx-auto mt-5 text-center">
      "<%= @word %>" が含まれている投稿はありません
    </div>
  <% else %>
    <div class="col-12">
      <%= render 'public/users/post_list', posts: @posts %>
    </div>
  <% end %>
</div>
