<div class="row main-top">
  <div class="col-12 col-lg-8 mx-lg-auto">
    <div class="row py-4">
      <div class="col-12 col-md-6 col-xl-5 text-center">
        <div>
          <%= image_tag @user.get_profile_image(150, 150), class: "profile-img" %>
        </div>
        <div class="py-3"><%= @user.name %></div>
      </div>
      <div class="col-12 col-md-6 col-xl-7">
        <% if @user.profile.blank? %>
          プロフィールを設定していません
        <% else %>
          <%= @user.profile %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center user-status">
        <% if @user.withdraw_status == "block" %>
          <strong class="status-false">ブロックした</strong>
        <% elsif @user.withdraw_status == "passive" %>
          <strong class="status-false">無効な</strong>
        <% else %>
          <strong class="status-true">有効な</strong>
        <% end %>
        ユーザーです
      </div>
      <div class="col-12 mb-5 py-5 text-center">
        <%= link_to "編集する", edit_admin_user_path, class: "btn btn-success btn-lg" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= render @posts %>
      </div>
      <div class="col-12 mt-5">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>