<div class="row main-top">
  <div class="col-8 mx-auto">
    <% if @posts.present? %>
      <% @posts.each do |post| %>
        <div class="row align-items-center my-5">
          <% if @user == current_user %>
            <% list = post.has_list(@user) %>
            <div class="col-5">
              <%= form_with model: list, url: post_list_path(post.id, list.id) do |f| %>
                <%= f.text_field :memo, placeholder: "メモ(50文字まで)" %>
                <% if list.memo.blank? %>
                  <%= f.submit "作成", class: "btn btn-sm btn-primary list-btn" %>
                <% else %>
                  <%= f.submit "更新", class: "btn btn-sm btn-success list-btn"  %>
                <% end %>
              <% end %>
            </div>
            <div class="col-3">
              保存日<%= l list.created_at %>
            </div>
            <div class="col-3">
              <%= link_to "リストから削除", post_list_path(post.id, list.id), method: :delete, class: "btn btn-sm btn-danger list-btn" %>
            </div>
          <% end %>
          <%= render 'posts_short', {post: post, size: [200, 200]} %>
        </div>
      <% end %>
    <% else %>
      <div class="row">
        <div class="col  text-center">
          <h4>行きたいところリストはありません</h2>
        </div>
      </div>
    <% end %>
  </div>
</div>