<div class="row main-top">
  <div class="col-lg-6 offset-lg-1">
    <div class="row py-4">
      <div class="col-12 col-md-6 col-xl-5 text-center">
        <div><%= image_tag @user.get_profile_image(150, 150), class: "profile-img" %></div>
        <div class="py-3"><%= @user.name %></div>
      </div>
      <div class="col-12 col-md-6 col-xl-7">
        <% if @user.profile.blank? %>
          プロフィールを設定していません
        <% else %>
          <%= @user.profile %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-3 offset-1">
        <strong><%= @user.followings.count %> </strong><%= link_to "フォロー中", user_followings_path(@user.id) %>
      </div>
      <div class="col-3 offset-1">
        <strong><%= @user.followers.count %> </strong><%= link_to "フォロワー", user_followers_path(@user.id) %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-5 py-5 text-center">
        <% if @user == current_user %>
          <%= link_to "編集する", edit_user_path, class: "btn btn-success btn-lg" %>
        <% elsif current_user.following?(@user) %>
          <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-12 post-list">
          <%= link_to post_path(post.id) do %>
            <div class="mb-5">
              <div class="p-3 text-center">
                <% post.images.each do |image| %>
                  <%= image_tag image.variant(resize_to_limit: [200, 200]), class: "m-1"%>
                <% end %>
              </div>
              <div class="p-3">
                <%= post.body %>
              </div>
              <div class="text-right mr-3">
                <%= l post.created_at %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-lg-5 px-5">
    <div>
      ランキング
    </div>
    <div>
      <%= link_to "いいねした投稿", user_favorites_path(@user.id) %>
    </div>
     <div class="row">
      <% @favorite_posts.each do |post| %>
        <div class="col-12 post-list">
          <%= link_to post_path(post.id) do %>
            <div class="mb-5">
              <div class="p-3 text-center">
                <% post.images.each do |image| %>
                  <%= image_tag image.variant(resize_to_limit: [200, 200]), class: "m-1"%>
                <% end %>
              </div>
              <div class="p-3">
                <%= post.body %>
              </div>
              <div class="text-right mr-3">
                <%= l post.created_at %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>