<%= render 'shared/notice' %>

<div class="row main-top">
  <div class="col-lg-6 offset-lg-1 mb-5">
    <%= render 'info', user: @user %>
    <div class="row text-center">
      <div class="follow-lists-<%= @user.id %> col-8">
        <%= render 'public/relationships/follow_list', user: @user %>
      </div>
      <div class="col-4">
        <%= link_to "行きたいところリスト", user_lists_path(@user) %>
      </div>
    </div>
    <div class="row">
      <div class="follow-buttons-<%= @user.id %> col-12 mb-5 py-5 text-center">
        <%= link_to "編集する", edit_user_path, class: "btn btn-success btn-lg" if @user == current_user %>
        <%= render 'public/relationships/follow_btn', user: @user %>
      </div>
    </div>
    <div class="row">
      <% @posts.each do |post| %>
        <% if post.user == current_user && post.is_active == false %>
          <%= render 'limit_post', post: post %>
        <% elsif post.user == @user && post.is_active == true %>
          <%= render 'posts_short', {post: post, size: [200, 200]} %>
        <% elsif post.is_active == false %>
          <!-- なにも表示しない -->
        <% else %>
          <%= render 'repost_post', post: post %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-lg-4 mx-auto px-5">
    <div class="row border-box p-3">
      <div class="col-12 mb-3 text-center">
        <h4>ランキング</h4>
      </div>
      <% if @user == current_user %>
        <div class="col-12 text-center">
          <%= link_to "ランキングを設定する", user_ranks_path(@user.id) %>
        </div>
      <% end %>
      <div class="col-12">
        <% @rank_posts.each do |post| %>
          <h5 class="my-2 text-center">
            <%= post.rank.rank_i18n %>
          </h5>
          <div>
            <%= render 'posts_short', {post: post, size: [100,100]} %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row mt-5 p-3 border-box">
      <div class="col-12 mb-3">
        <%= link_to "いいねした投稿", user_favorites_path(@user.id) %>
      </div>
      <% @favorite_posts.each do |post| %>

        <%= render 'posts_short', {post: post, size: [100, 100]}  %>

      <% end %>
      <div class="col-12 my-3 text-right">
        <%= link_to ">> 一覧を見る", user_favorites_path(@user.id) %>
      </div>
    </div>
  </div>

  <div class="col-12 mt-5">
    <%= paginate @posts %>
  </div>
</div>