<!DOCTYPE html>
<html>
  <head>
    <title>Syatabi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">

        <input id="menu" class="menu-btn" type="checkbox" />
        <label for="menu" class="open"><i class="fas fa-bars"></i></label>
        <label for="menu" class="back"></label>
        <% if user_signed_in? %>
          <aside class="sidebar login_sidebar col-lg-3 text-center">
            <nav>
              <ul>
                <li>
                  <%= link_to "HOME", posts_path, class: "btn mb-4" %>
                </li>
                <li>
                  <%= link_to "マイページ", user_path(current_user.id), class: "btn mb-4" %>
                </li>
                <li>
                  <%= link_to "ランキング", '#', class: "btn mb-4" %>
                </li>
                <li>
                  <%= link_to "リスト", lists_path, class: "btn mb-4" %>
                </li>
                <li>
                  <%= link_to "新規投稿", new_post_path, class: "btn mb-4" %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn mb-4" %>
                </li>
                <li></li>
              </ul>
              <%= form_with url: search_path, method: :get do |f| %>
                <div class="col-10 mx-auto">
                  <%= f.search_field :word, class: "form-control search-input mb-2" %>
                  <%= button_tag sanitize('<i class="fa fa-search"></i>'), type: "submit", class: "search-btn btn-outline-success align-middle" %>
                </div>
              <% end %>
            </nav>
          </aside>
        <% elsif admin_signed_in? %>
          <aside id="" class="sidebar login_sidebar col-lg-3 text-center">
            <li>
              <%= link_to "投稿一覧",admin_posts_path, class: "btn mb-4" %>
            </li>
            <li>
              <%= link_to "ユーザー一覧",admin_users_path, class: "btn mb-4" %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn" %>
            </li>
          </aside>
        <% end %>
        <div class="col-lg-9">
          <header class="row header">
            <div class ="mx-auto logo mt-4">写旅</div>
          </header>
          <%= yield %>
        </div>
        <% if !user_signed_in? && !admin_signed_in? %>
          <aside id="logout_sidebar" class="sidebar col-lg-3 ml-auto text-center">
            <li>
              <%= link_to "新規登録", new_user_registration_path, class: "btn mb-5" %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path, class: "btn" %>
            </li>
          </aside>
        <% end %>
      </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
  <script>
    bsCustomFileInput.init();
  </script>
  </body>
</html>
