<!DOCTYPE html>
<html>
  <head>
    <title>Syatabi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">

        <input id="menu" class="menu-btn" type="checkbox" />
        <label for="menu" class="open"><i class="fas fa-bars"></i></label>
        <label for="menu" class="back"></label>
        <% if user_signed_in? %>
          <%= render 'layouts/user_sidebar' %>
        <% elsif admin_signed_in? %>
          <%= render 'layouts/admin_sidebar' %>
        <% end %>
        <div class="col-lg-9">
          <header class="row header">
            <div class ="mx-auto logo mt-4">写旅</div>
          </header>
          <%= yield %>
        </div>
        <% if !user_signed_in? && !admin_signed_in? %>
          <%= render 'layouts/logout_sidebar' %>
        <% end %>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script>
      bsCustomFileInput.init();
    </script>
  </body>
</html>
